.list {
  display: flex;
  list-style: none;
  padding: 0;
}
.list-item {
  width: 350px;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-item::before {
  display: flex;
  content: '';
  height: 90px;
  background-image: url('../images2/img1.png');
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}


.list-item:nth-child(2)::before {
    background-image: url(../images2/img2.png);
}


.list-item:nth-child(3)::before {
    background-image: url(../images2/img3.png);
}

.list-item:nth-child(4)::before {
    background-image: url(../images2/img4.png);
}